/* common */
.row {
    /* background: orange; */
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: var(--primary-font);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.button {
    min-width: 170px;
    min-height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: #FDFDFD;
    font-family: var(--primary-font);
    background: #5E3DF2;
    border: 1px solid #5E3DF2;
    line-height: none;
    transition: 0.4s;
}

.button:hover {
    background: #1b0385;
}

:root {
    --primary-color-text: #080415;
    --second-color-text: #51586A;
    /* background */
    --background-color-one: #FBFAFF;
    /* font */
    --primary-font: "DM Sans";
    /* tránition    */
    --timer-transition: 0.4s;
}

a {
    text-decoration: none;
    color: inherit;
}

/* =============================================== header =============================================== */
header {
    background: var(--background-color-one);
    /* background: orange; */
    overflow: hidden;
    height: calc(100vh - 120px);
    max-height: calc(100vh - 120px);
    position: relative;
}



.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav {
    position: sticky;
    top: -20px;
    z-index: 1000;

    padding-top: 20px;
    display: block;
    width: 100%;
    background: var(--background-color-one);
}


.nav__contact {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-color-text);
    text-decoration: underline;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.36;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 43px;
    color: var(--second-color-text);
    font-family: "DM Sans";
    font-size: 1.8rem;
    font-weight: 400;
}

.nav__item:hover {
    text-shadow: 0.3px 0.3px var(--primary-color-text);
}

.nav__mobile {
    display: none;
    font-size: 30px;
    margin-right: 15px;
}

/* ======================================================================   header ======================================================================*/
.header__content {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.header__left {
    padding-left: 40px;
    position: relative;
    z-index: 1;
}

.header__left img {
    position: relative;
    z-index: 1;
}

.header__left .decor {
    position: absolute;
    z-index: 0;
    left: -40px;
    bottom: -15px;
}

.header__left .img-wrap {
    width: 514px;
    height: 705px;
    /* background: orange; */

}

.img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-wrap {
    overflow: hidden;
}



.header__right {
    /* background: orange; */
    padding-top: 137px;
    padding-left: 80px;
}

header .decor {
    position: absolute;
    z-index: 1;
    bottom: -152px;
    right: 125px;
}

.header__title {
    color: var(--primary-color-text);
    font-family: "DM Sans";
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95;

}

.header__desc {
    width: 370px;
    margin-top: 20px;
    color: var(--second-color-text);
    font-family: var(--primary-font);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67;

}

.header__cta {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__cta a {
    color: var(--primary-color-text);
    text-decoration: underline;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66;
    /* 166.667% */
    text-decoration-line: underline;
    transition: 0.2s;
}

.header__cta a:hover {
    scale: 1.1;
}

.header__socials {
    margin-top: 110px;
    padding-bottom: 43px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.social__list {
    display: flex;
    align-items: center;
    gap: 30px;
    /* position: relative; */
}

.social__item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color-text);
    transition: var(--timer-transition);
}

.social__item:hover {
    background: #5D3BEE;
    border-color: #5D3BEE;
    color: white;
}

/* =============================================== service =============================================== */
.service {
    padding-top: 100px;
    padding-bottom: 140px;
}

.client__title {
    margin-top: 10px;
    padding-left: 100px;
    color: var(--primary-color-text);
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.2;
    /* 119.048% */
    letter-spacing: -1.68px;
    width: 350px;
    position: relative;
}

.client__title::before {

    content: "";
    width: 86px;
    height: 2px;
    background: var(--primary-color-text);
    display: inline-block;
    margin-right: 5px;
    position: absolute;
    top: 25%;
    left: -7.5px;
}

.client__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    /* align-items: ; */
    row-gap: 35px;
    column-gap: 45px;
}

.client__item {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: start;
    gap: 15px;
    transition: 0.2s;
}


.client__item:hover {
    scale: 1.1;
}

.client__item .icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* specialities */
.specialities {
    margin-top: 150px;
}

.secial__header {
    text-align: center;
}

.special__title {
    color: var(--primary-color-text);

    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.17;
    /* 117.857% */
    letter-spacing: -1px;
}

.special__desc {
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    color: var(--second-color-text);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    /* 166.667% */
}

.service__list {
    margin-top: 60px;

}

.service__item-wrap {
    overflow: hidden;
}

.service__item {
    padding: 35px 45px;
    background-color: var(--background-color-one);
    transition: 0.4s;

}


.service__item:hover {
    scale: 1.1;
}

.service__icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service__title {
    margin-top: 22px;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    /* 125% */
    letter-spacing: -1.28px;
}

.service__desc {
    margin-top: 15px;
    width: 285px;
    color: var(--second-color-text);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    /* 166.667% */
}

/* =============================================== work =============================================== */
.work {
    padding-top: 90px;
    padding-bottom: 90px;
    background: #5E3DF2;
}

.work__header-title {
    width: 400px;
    color: #FFF;
    font-size: 5.5rem;
    font-weight: 500;
    line-height: 1.17;
    /* 117.857% */
    letter-spacing: -1px;
}

.work__header-desc {
    width: 370px;
    margin-left: 28px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.66;
    /* 166.667% */
    align-self: center;
}

.work__list {
    margin-top: 81px;
}

.work__item {
    background: white;
    padding: 24px;
    padding-left: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work__item .title {

    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
    /* 125% */
    letter-spacing: -1.28px;
}

.work__item .desc {
    margin-top: 10px;
    width: 220px;
    color: var(--second-color-text);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.43;
    /* 143.75% */
}

.work__item .link {
    margin-top: 20px;
    font-size: 1.8;
    font-weight: 700;
    line-height: 1.66;
    /* 166.667% */
    text-decoration-line: underline;
    display: inline-block;
    transition: 0.2s;
}

.work__item .link:hover {
    scale: 1.1;
}

.work_btn {
    margin: 0 auto;
    margin-top: 80px;
    background: white;
    color: var(--primary-color-text);
    border-color: white;
}

.work_btn:hover {
    background: #ccc;
    border-color: #ccc;
}

/* =============================================== about =============================================== */

.about {
    padding-top: 140px;
    background: #ffffff;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 80%, #fbfaff 80%, #fbfaff 100%);
}

.about__header .hello {
    color: #5D3BEE;
    font-size: 3.2rem;

    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.about__header .title {
    margin-top: 10px;
    color: var(--primary-color-text);
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17;
    /* 117.857% */
    letter-spacing: -2.24px;
}

.about__header .desc {
    margin: 0 auto;
    margin-top: 15px;
    width: 570px;
    color: var(--second-color-text);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
    /* 166.667% */
}

.about__data {
    margin-top: 90px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.about__data ::before {}

.about__data .number {

    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.35;
    /* 135.714% */
    letter-spacing: 1.68px;
    text-decoration-line: underline;
}

.about__data .title {
    color: var(--second-color-text);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
    /* 166.667% */
}

.about__media {
    margin-top: 70px;
    width: 100%;
    position: relative;
}

.about__media video {
    width: 100%;
    object-fit: cover;
}

.about__media .action {

    width: 111px;
    height: 111px;
    background: #ccccccc4;
    /* background: orange; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #5D3BEE;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.about__media .intro {
    padding: 16px 28px;
    background: #fff;
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/* =============================================== testimotal =============================================== */
.testimotal {
    background: var(--background-color-one);
    padding-top: 150px;
    padding-bottom: 95px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.tesimonal__item .heading {
    color: var(--primary-color-text);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.17;
    /* 117.857% */
    letter-spacing: -2.24px;
}

.tesimonal__item .desc {
    max-width: 570px;
    margin: 0 auto;
    margin-top: 25px;
    color: var(--second-color-text);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    /* 166.667% */
}

.tesimonal__item .blockquote {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 679px;
    color: var(--second-color-text);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
    /* 166.667% */
}

.tesimonal__item .img-wrap {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #F29764;
}


.tesimonal__item .member {
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.tesimonal__item .name {
    color: var(--primary-color-text);
    font-size: 3rem;
    font-weight: 500;
    line-height: 40px;
    /* 133.333% */
}

.tesimonal__item .member__desc {
    margin-top: 5px;
    padding-bottom: 30px;
    color: var(--second-color-text);
    font-size: 1.rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.81;
    /* 181.25% */
}

.testimonal__list {
    /* overflow: hidden; */
}

.tesimonal__item {
    width: 100%;
}

.flickity-page-dots {
    bottom: -30px;
}

.flickity-page-dots .dot {
    transition: 0.2s;
}

.flickity-page-dots .dot.is-selected {
    background: #5E3DF2;
    outline: 1px solid #5E3DF2;
    outline-offset: 2px;
}

.testimotal .decor {
    position: absolute;
    bottom: -145px;
}

.testimotal .decor-1 {
    left: -145px;
}

.testimotal .decor-2 {
    right: -145px;
}

/* =============================================== faq =============================================== */

.faq {
    padding-top: 95px;
    padding-bottom: 80px;
}

.faq__title {
    max-width: 575px;
    color: var(--primary-color-text);
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17;
    /* 117.857% */
    letter-spacing: -2.24px;
}

.faq__list {
    margin-top: 80px;
}

.faq__item {
    border-bottom: 2px solid #08182F;
    padding-left: 10px;
}

.faq__item .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.faq__item .question {
    color: var(--primary-color-text);
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 125% */
    letter-spacing: -1.28px;
}

.faq__item .question.active {
    color: #5D3BEE;
}

.faq__item .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.faq__item .answer {
    max-width: 487px;
    color: var(--second-color-text);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
    /* 166.667% */
    padding-bottom: 21px;
}

/* =============================================== gallery =============================================== */

.gallery {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.gallery__heading {
    color: var(--primary-color-text);
    font-family: "DM Sans";
    font-size: 5.6rem;

    font-weight: 500;
    line-height: 1.17;
    /* 117.857% */
    letter-spacing: -2.24px;
}

.gallery__desc {
    max-width: 528px;
    margin: 0 auto;
    margin-top: 20px;
    color: var(--second-color-text);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    /* 166.667% */
}

.gallery__link {
    margin-top: 30px;
    color: #5D3BEE;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
    /* 125% */
    letter-spacing: -1.28px;
    text-decoration-line: underline;
}

.gallery__list {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}